/* Стили для шапки */
.header {
  display: flex; /* Используем flexbox для выравнивания */
  justify-content: space-between; /* Пространство между логотипом и меню */
  align-items: center; /* Вертикальное выравнивание элементов */
  height: 100%; /* Заполняет доступную высоту */
  padding: 0 40px; /* Отступы по бокам */
  background: #c3c3c3; /* Цвет фона */
  border-radius: 40px; /* Скругление углов */
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2); /* Тень снизу */
}

.header .logo {
  max-height: 50px; /* Максимальная высота логотипа */
  object-fit: contain; /* Логотип сохраняет пропорции */
}

.header .menu {
  display: flex; /* Используем flexbox для меню */
  gap: 20px; /* Расстояние между элементами меню */
}

.header .menu a {
  text-decoration: none; /* Убираем подчеркивание */
  color: #000000; /* Цвет текста */
  font-weight: 500; /* Средний жирный шрифт */
}

.header .menu a:hover {
  cursor: pointer; /* Курсор при наведении */
  color: #e5e5e5; /* Цвет при наведении */
  transition: 0.2s; /* Плавный переход */
}

.header .btn-register {
  padding: 10px 20px; /* Отступы для кнопки */
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Курсор при наведении */
}

.header .btn-register:hover {
  background-color: #0056b3; /* Цвет кнопки при наведении */
  transition: background-color 0.2s; /* Плавное изменение цвета */
}
